*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Space Grotesk',sans-serif;
  background:#D9D9D9;
  color:#222;
  overflow-x:hidden;
}

/* ================= NAVBAR ================= */
.navbar{
  width:100%;
  padding:20px 6%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#D9D9D9;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
}

.logo img{
  width:36px;
}

.menu-toggle{
  display:none;
  font-size:28px;
  cursor:pointer;
}

.navlinks{
  display:flex;
  gap:28px;
  align-items:center;
}

.navlinks a{
  text-decoration:none;
  color:#222;
  font-weight:500;
}

.cta{
  background:#3E5AA9;
  color:white!important;
  padding:10px 18px;
  border-radius:10px;
}


.hero{
  max-width:1200px;
  margin:0 auto;
  padding:100px 6% 60px;
  display:flex;
  flex-direction: column;
  grid-template-columns:1fr 1fr;
  gap:12px;
  align-items: center
}

.hero h2{
  justify-items: center;
  font-size:3.4rem;
  line-height:1.1;
  text-align: center;
}

.hero p{
  margin-top:2px;
  max-width:1200px;
  opacity:.85;
  text-align: center;
  justify-items: center;
}

.button-group{
  margin-top:30px;
  display:flex;
  gap:20px;
}

.button-group a{
  width:170px;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:14px;
  text-decoration:none;
  font-weight:500;
}

.btn1{
  border:1px solid #222;
  color:#222;
}

.btn2{
  background:#3E5AA9;
  color:white;
}

.tags{
  margin-top:30px;
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

/* ================= ROAD ================= */
.road{
  width:100%;
  height:80px;
  background:#373737;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
}

.crosswalk{
  width:100%;
  height:10px;
  background:repeating-linear-gradient(
    to right,
    #fff 0px,
    #fff 60px,
    #373737 60px,
    #373737 100px
  );
  position:absolute;
}

.bridge img{
  height:120px;
  position:relative;
  z-index:2;
}

/* ================= BRANDS ================= */
.companies{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:80px 15%;
  gap: 70px;
}
.companies h2{
  font-size: xx-large;
}

.cpny-logo{
  max-width:1920px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:130px;
  flex-wrap:wrap;
}

.cpny-logo img{
  height:36px;
  opacity:.8;
}

/* ================= BLUE SECTION ================= */
.arrangement2{
  
  background:#D9D9D9;
  padding:120px 6%;
}

.arrangement2{
  max-width:100%;
  margin:0 auto;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:80px;
  color:white;
}

.arrangement2 h2{
  font-size:5rem;
  line-height:1.1;
  max-width: 50%;
  color: #3E5AA9;
}

.boxes{
  display:flex;
  flex-direction:column;
  gap:30px;
}

.box{
  background:white;
  color:#222;
  padding:40px;
  border-radius:30px;
}

.box2{
  background:white;
  color:#222;
  padding:40px;
  border-radius:30px;
}


/* SECTION */
.influencer-section {
  background: #3f5ea9;
  padding: 80px 40px 120px;
  text-align: center;
}

.influencer-section h2 {
  color: white;
  font-size: 42px;
  margin-bottom: 60px;
}

/* GRID */
.influencer-grid {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */
.influencer-card {
  background: #ededed;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* IMAGE */
.influencer-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

/* BODY */
.card-body {
  padding: 18px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Username */
.card-body h4 {
  font-size: 15px;
  font-weight: 600;
}

/* Social row */
.meta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.meta img {
  width: 34px;
  height: 34px;
}

/* Followers */
.meta span {
  font-size: 14px;
  font-weight: 500;
}

/* Brands */
.card-body p {
  font-size: 13px;
  opacity: 0.7;
}


.dashboard-section {
  background: #e6e6e6;
  padding: 120px 20px;
  text-align: center;
}

.dashboard-section h2 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 60px;
}

.dashboard-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 40px 80px rgba(0,0,0,0.12);
}

.dashboard-wrapper img {
  width: 100%;
  border-radius: 14px;
}


.app-section {
  background:#3f5ea9;
  padding:80px 40px;
}
.app-box {
  display:flex;
  max-width:1200px;
  margin:auto;
  border-radius:20px;
  padding:40px;
  align-items: center;
}
.app-left img {width:300px;}
.app-right {
  color:white; 
  padding-left:40px;
  gap: 100%;
}
.app-right h2{
  font-size: xx-large;
  max-width: 600px;
  margin-bottom: 2%;
}

.store-buttons img {
  margin-top: 5%;
  height:45px; 
  margin-right:15px;}

.faq-section {
  background: #e5e5e5;
  padding: 100px 60px;
}

.faq-wrapper {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* LEFT SIDE */
.faq-left {
  width: 60%;
}

.faq-row {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

/* Blue Q box */
.q-box {
  background: #3f5ea9;
  color: white;
  font-weight: 700;
  font-size: 22px;
  width: 60px;
  height: 60px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* White question bar */
.faq-text {
  background: white;
  padding: 18px 25px;
  margin-left: 18px;
  border-radius: 12px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

/* RIGHT SIDE */
.faq-right {
  width: 35%;
}

.faq-right h2 {
  padding-top: ;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}


.contact-section {
  padding:80px 40px;
  text-align:center;
}

.contact-section h2{
  padding-bottom: 1%;
  font-size: 3rem;
}
.contact-box {
  display:flex;
  justify-content:center;
  gap:40px;
}
.contact-box form {
  background:white;
  padding:30px;
  border-radius:12px;
}
.contact-box input, textarea {
  width:100%;
  padding:12px;
  margin:10px 0;
}
.contact-box button {
  background:#3f5ea9;
  color:white;
  padding:12px;
  width:100%;
  border:none;
}

.footer {
  background:#3f5ea9;
  color:white;
  padding:50px 40px;
}
.footer-grid {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
}



/* RESPONSIVE */
@media (max-width: 1024px) {
  .influencer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .influencer-grid {
    grid-template-columns: 1fr;
  }
}


/* ================= FOOTER ================= */
footer{
  background:#D9D9D9;
  text-align:center;
  padding:40px;
}


/* ================= MOBILE ================= */
@media(max-width:900px){
  .menu-toggle{display:block;}

  .navlinks{
    position:absolute;
    top:80px;
    left:0;
    width:100%;
    background:white;
    flex-direction:column;
    padding:30px;
    display:none;
  }

  .navlinks.active{
    display:flex;
  }

  .hero{
    grid-template-columns:1fr;
    text-align:center;
  }

  .hero p{
    margin-left:auto;
    margin-right:auto;
  }

  .button-group{
    justify-content:center;
  }

  .arrangement2{
    grid-template-columns:1fr;
    text-align:center;
  }

  .cpny-logo{
    justify-content:center;
  }
}
